<% include ../partials/boilerplate %>

<a href="/barbershops/new"><button>Add New Barbershop</button></a>
<div class="barbershops-container">
    <% barbershops.forEach(barbershop => { %>
    <a href="/barbershops/<%= barbershop.id %>">
        <div class="barbershop">
            <div class="bsimg"></div>
            <div class="bsinfo">
                <p><%= barbershop.name %></p>
                <p>Rating: <%= barbershop.rating %></p>
                <p>Address: <%= barbershop.street_address %></p>
                <p><%= barbershop.city %>, <%= barbershop.state %>, <%= barbershop.zip %></p>
            </div>
        </div>
    </a>

    <% }) %>
</div>


<% include ../partials/end %>
