<% include ../partials/boilerplate %>
<% include ../partials/nav %>

<form method="POST" action="/barbershops/<%= barbershop.id%>?_method=PUT">
    <input type="text" name="name" value="<%= barbershop.name %>" />
    <input type="text" name="street_address" value="<%= barbershop.street_address %>" />
    <input type="text" name="city" value="<%= barbershop.city %>" />
    <input type="text" name="state" value="<%= barbershop.state %>" />
    <input type="number" name="zip" value="<%= barbershop.zip %>" />
    <input type="number" name="rating" value="<%= barbershop.rating %>" />
    <input type="submit" value="Edit it!" />
</form>

<% include ../partials/end %>