<% include ../partials/boilerplate %>
<% include ../partials/nav %>


    <div class="barbershop">
        <div class="bsimg"></div>
        <div class="bsinfo">
            <p><%= barbershop.name %></p>
            <p>Rating: <%= barbershop.rating %></p>
            <p>Address: <%= barbershop.street_address %></p>
            <p><%= barbershop.city %>, <%= barbershop.state %>, <%= barbershop.zip %></p>
        </div>
        <div class="links">
            <a href="/barbershops/<%=barbershop.id%>/edit">Edit</a>
            <form method="POST" action="/barbershops/<%=barbershop.id%>?_method=DELETE">
                <input type="submit" value="Delete" />
            </form>
        </div>
    </div></a>
</div>

<a href="/barbershops/">Back to Barbershops</a>


<% include ../partials/end %>